body {
  font-family: "Delius", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}
.star-checkbox {
  display: none;
}

.star-label {
  font-size: 30px; 
  color: gray;
  cursor: pointer; 
}
.star-checkbox:checked + .star-label {
  color: gold;
}

.star-label:hover {
  color: orange;
}